/* Right side */
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

/* Display */
article.display {
  width: 95%;
  height: 100%;
  font-size: 18px;
  padding: 20px 2.5% 0 2.5%;
  overflow: scroll;
}
article.display h1 {
  font-size: 36px;
  font-family: "Helvetica Bold", "Arial Bold", sans-serif;
}
article.display h2 {
  font-size: 24px;
  margin: 25px 0 0 0;
  font-family: "Helvetica Bold", "Arial Bold", sans-serif;
}
article.display p {
  margin: 10px 0 20px 0;
}
